/*
* @Author: Marte
* @Date:   2017-11-28 14:13:37
* @Last Modified by:   Marte
* @Last Modified time: 2017-11-28 14:17:16
*/
*{
    margin：0;
    padidng:0;
    list-style:none ;
}
body{
    background:#ece;
    color:skyblue;
}
li{
    height:30px;
    text-align:center;
    line-height:30px;
}